In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
data = pd.read_csv("MSFT.csv")

In [28]:
data.head()

         Date        Open        High  ...       Close   Adj Close    Volume
0  2020-07-06  208.830002  211.130005  ...  210.699997  208.679443  31897600
1  2020-07-07  210.449997  214.669998  ...  208.250000  206.252930  33600700
2  2020-07-08  210.070007  213.259995  ...  212.830002  210.789032  33600000
3  2020-07-09  216.330002  216.380005  ...  214.320007  212.264740  33121700
4  2020-07-10  213.619995  214.080002  ...  213.669998  211.620972  26177600

[5 rows x 7 columns]

In [29]:
x = data[['Open','High','Low']]
y = data['Close']

In [30]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2, random_state=42)

In [31]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()

In [32]:
model.fit(xtrain,ytrain)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [33]:
ypred = model.predict(xtest)

In [34]:
ypred

array([235.460007, 202.679993, 213.25    , 237.039993, 217.229996,
       235.990005, 259.890015, 255.910004, 204.059998, 211.75    ,
       208.779999, 245.169998, 249.899994, 236.940002, 214.889999,
       242.199997, 259.890015, 204.059998, 212.940002, 214.130005,
       216.440002, 202.470001, 219.660004, 220.860001, 213.860001,
       259.429993, 237.039993, 245.710007, 209.190002, 233.270004,
       231.600006, 214.070007, 221.020004, 203.380005, 249.679993,
       206.190002, 216.470001, 201.300003, 255.589996, 235.240005,
       211.490005, 214.649994, 243.789993, 239.649994, 202.539993,
       231.850006, 204.059998, 210.330002, 232.419998, 237.039993,
       218.389999])

In [37]:
df = pd.DataFrame(data = {"Predicted Rate": ypred})

In [38]:
df.head()

   Predicted Rate
0      235.460007
1      202.679993
2      213.250000
3      237.039993
4      217.229996